<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="movie1"  class="com.stackroute.Movie" name="MovieA,MovieB">
        <constructor-arg name="m_name" value="Maharshi"  />
        <constructor-arg name="actor" ref="actor1"/>
    </bean>
    <bean id="actor1" class="com.stackroute.Actor">
        <constructor-arg name="a_name" value="Mahesh"/>
        <constructor-arg  name="a_gender" value="Male"/>
        <constructor-arg name="a_age" value="40"/>

    </bean>

    <bean id="movie2"  class="com.stackroute.Movie" scope="prototype" >
        <constructor-arg index="0" value="Bahubali"  />
        <constructor-arg index="1" ref="actor2"/>
    </bean>
    <bean id="actor2" class="com.stackroute.Actor">
        <constructor-arg index="0" value="Prabhas"/>
        <constructor-arg  index="1" value="Male"/>
        <constructor-arg  index="2" value="38"/>

    </bean>

    <bean id="movie3"  class="com.stackroute.Movie" >
        <constructor-arg name="m_name" value="Arundathi" type="java.lang.String"  />
        <constructor-arg name="actor" ref="actor3" />
    </bean>
    <bean id="actor3" class="com.stackroute.Actor">
        <constructor-arg  name="a_name" value="Anushka" type="java.lang.String"/>
        <constructor-arg name="a_gender" value="Female" type="java.lang.String"/>
        <constructor-arg  name="a_age" value="40" type="int"/>

    </bean>
</beans>

